@use "@/styles/colors" as colors;
@use "@/styles/mixins" as mixins;

.Section {
  max-width: 600px;
  margin: 0 auto;
  text-align: center;
  color: colors.$wash-me;

  & > div {
    margin-bottom: 20px;
  }
}

.Button {
  @include mixins.info-page-button;
  max-width: 330px;
  margin-bottom: 20px;
}
